@import "../../global/variables.css";

:host {
  --border-colour: var(--secondary-grey);
}

@media (prefers-color-scheme: dark) {
  :host {
    --list-color: var(--primary-pink);
  }
}

footer {
  display: flex;
  flex-direction: column;
  place-content: center;
  text-align: center;
  flex: 1;

  max-width: 800px;
  margin: 10vh auto 0 auto;
  padding: 40px;

  border-top: 1px solid var(--border-colour);
}

footer a {
  display: block;
  margin-bottom: 5px;
  /* flex: 1; */

  /* background: linear-gradient(
    180deg,
    transparent 0.9em,
    hsl(31, 55%, 68%) 0,
    hsl(31, 55%, 68%)
  ); */
}
