:root {
  --primary-orange: #c17f38;
  --primary-pink: #784a4a;
  --primary-black: #323a45;
  --primary-white: #ffffff;
  --secondary-white: #f7f7f7;

  /* Dark mode */
  --primary-grey: #292929;

  /* Carousel */
  --secondary-pink: #e4dedf;
  --secondary-blue: #93b3c2;
  --secondary-grey: #b4b4b4;

  --main-background: var(--secondary-white);

  --nav-link-colour: var(--primary-black);
  --nav-active-link-colour: var(--primary-orange);

  --h1-colour: var(--primary-orange);
  --h2-colour: var(--primary-pink);
  --h3-colour: var(--primary-black);
  --p-colour: var(--primary-black);
  --p-contrast-colour: var(--primary-black);

  --primary-font-family: "Cormorant Garamond", Open Sans, sans-serif;
  --secondary-font-family: "Didot", Open Sans, sans-serif;
  --default-font-size: 1em;
  --h1-font-size: 1.6em;
  --h2-font-size: 1.2em;
  --h3-font-size: 1em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-orange: #daaf81;
    --primary-pink: #cdadad;

    --main-background: var(--primary-grey);
    --nav-link-colour: var(--primary-white);

    --p-colour: var(--primary-white);
  }

  img,
  picture {
    filter: brightness(0.8) contrast(1.1);
  }
}

h1 {
  font-size: var(--h1-font-size);
  font-family: var(--primary-font-family);
  color: var(--h1-colour);
  line-height: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  margin: 0.8em 0;
}

h2 {
  font-size: var(--h2-font-size);
  font-family: var(--primary-font-family);
  color: var(--h2-colour);
  line-height: 1.5em;
  font-weight: 100;
  text-transform: lowercase;
  letter-spacing: 0.1em;

  margin: 0.8em 0;
}

h3 {
  font-size: var(--h3-font-size);
  font-family: var(--primary-font-family);
  color: var(--h3-colour);
  line-height: 1.5em;
  font-weight: 100;
  text-transform: lowercase;
  letter-spacing: 0.1em;

  margin: 0.8em 0;
}

p,
a {
  font-family: var(--primary-font-family);
  font-size: var(--default-font-size);
  color: var(--p-colour);
  line-height: 1.5em;
  margin: 1.5em 0;
}

a {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.space-text p,
.space-text a {
  letter-spacing: 0.1em;
}

.shout {
  text-transform: uppercase;
}

q {
  display: block;
  margin-top: 1em;
}

button {
  cursor: pointer;
}

.screen-reader-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

[aria-hidden="true"] {
  display: none !important;
}
