@import "../../global/variables.css";

.banner {
  display: grid;
  grid-template-columns: repeat(28, 1fr);
  grid-template-rows: repeat(auto-fill, 50px);

  max-width: 1000px;
  margin: 0 auto;
}

@media only screen and (min-width: 600px) {
  .banner {
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(26, 30px);
  }
}

@media only screen and (min-width: 800px) {
  .banner {
    grid-template-rows: repeat(30, 30px);
  }
}

@media only screen and (min-width: 900px) {
  .banner {
    grid-template-rows: repeat(27, 30px);
  }
}

.content {
  grid-column: 2 / -2;
  grid-row: 1 / 10;
  z-index: 2;

  padding: 0em 1em 1em 1em;
  text-transform: uppercase;
}

@media only screen and (min-width: 600px) {
  .content {
    grid-column: 1 / 12;
    grid-row: 1 / 10;
  }
}

.introduction p:first-of-type {
  margin-top: 0;
}

.introduction .emphasis {
  color: var(--primary-orange);
  font-size: var(--h1-font-size);
  font-size: 2.6em;
  font-weight: bold;
  margin-bottom: 0.5em;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .introduction .emphasis {
    font-size: 3em;
    text-align: left;
    margin-bottom: 0em;
  }
}

.content .quick-links {
  margin-bottom: 0;
}

/*
  Moi
*/
.moi {
  grid-column: 2 / -2;
  grid-row: 10 / 16;

  /* Help with watercolour image loading quicker than this
     and causing it to jump when loaded */
  min-height: 3em;

  z-index: 1;
}

@media only screen and (min-width: 600px) {
  .moi {
    grid-column: 4 / 16;
    grid-row: 14 / -4;
  }
}

@media only screen and (min-width: 900px) {
  .moi {
    grid-column: 7 / 16;
    grid-row: 14 / 25;
  }
}

.moi img {
  width: 100%;
}

/*
  Watercolours
*/
.watercolour {
  display: none;
}

.watercolour img {
  width: 100%;
}

.watercolour-2 {
  display: flex;
  place-content: flex-end;
  grid-column: -10 / -1;
  grid-row: 14 / 19;

  /* Height required when using auto in CSS grids */
  /* height: 150px; */

  z-index: 2;
  opacity: 0.7;
}

.watercolour-2 img {
  width: 100px;
}

@media only screen and (min-width: 600px) {
  .watercolour {
    display: block;
    grid-column: -10 / -1;
    grid-row: 6 / 22;

    /* height: auto; */
    opacity: 1;
    z-index: 0;
  }

  .watercolour-2 {
    display: block;
    grid-column: 2 / 6;
    grid-row: 22 / 24;

    height: 110px;
    z-index: 2;
    opacity: 0.7;
  }
}

@media only screen and (min-width: 700px) {
  .watercolour-2 {
    grid-column: 2 / 6;
    grid-row: 23 / -1;
  }
}

@media only screen and (min-width: 800px) {
  .watercolour {
    grid-column: -8 / -1;
    grid-row: 5 / 22;
  }

  .watercolour-2 {
    grid-column: 3 / 6;
    grid-row: -1 / -6;
  }
}

@media only screen and (min-width: 900px) {
  .watercolour-2 {
    grid-column: 6 / 9;
    grid-row: 23 / 24;
  }
}

/*
  Quick links
*/
.quick-links {
  display: flex;
  align-items: center;
}

.quick-links a {
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  margin: 0;
}

.quick-links a {
  margin-left: 1em;
}

.github {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23fff'%3E%3Cpath fill='%23fff' d='M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z'/%3E%3C/svg%3E");
  filter: brightness(0.1);
}

.linkedin {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23fff'%3E%3Cpath fill='%23fff' d='M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z'/%3E%3C/svg%3E");
  filter: brightness(0.1);
}

@media (prefers-color-scheme: dark) {
  .github,
  .linkedin {
    filter: brightness(100);
  }
}
