@import "../../global/variables.css";

.banner {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(20, 30px);
}

@media only screen and (min-width: 850px) {
  .banner {
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(10, 50px);
  }
}

.banner-background {
  background-color: var(--primary-pink);

  grid-column: 1 / -1;
  grid-row: 1 / -5;
}

@media only screen and (min-width: 850px) {
  .banner-background {
    grid-column: 1 / -1;
    grid-row: 1 / -3;
  }
}

.banner-content {
  grid-column: 2 / -2;
  grid-row: 1 / 11;

  /* Its own grid config */
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 40px);

  background-color: var(--primary-pink);
}

@media only screen and (min-width: 850px) {
  .banner-content {
    grid-column: 3 / 11;
    grid-row: 1 / 8;
  }
}

.banner-content .title {
  grid-column: 1 / -1;
  grid-row: 1 / 5;

  margin: 0;
  padding: 0;

  font-family: var(--handwritten-font-family);
  font-style: italic;
  font-weight: 100;
  font-size: 6em;

  animation-duration: 3s;
  animation-name: slidein;
}

.banner-content h2 {
  grid-column: 2 / -1;
  grid-row: 4 / 7;

  font-family: Oswald;
  text-transform: uppercase;
  max-width: 22em;
  font-weight: 100;
  text-align: right;
  letter-spacing: 0.1em;
  font-size: 1.2em;
}

.banner-profile-background {
  grid-column: 1 / -1;
  grid-row: 11 / -5;

  background-color: var(--primary-pink);
}

@media only screen and (min-width: 850px) {
  .banner-profile-background {
    grid-column: 12 / -1;
    grid-row: 2 / 8;
  }
}

.banner-profile {
  grid-column: 2 / -2;
  grid-row: 11 / -1;

  background-image: url("/assets/icon/blob.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media only screen and (min-width: 850px) {
  .banner-profile {
    grid-column: 12 / -1;
    grid-row: 4 / 11;
  }
}
