@import "../../global/variables.css";

:host {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0.5em;
}

@media only screen and (min-width: 500px) {
  :host {
    padding: 0 2em;
  }
}

h1 {
  text-align: center;
}

img {
  display: block;
  max-width: 900px;
  margin: 0 auto;
}
