@import "../../global/variables.css";

/*
  Skip link
*/
a.skip-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}

a.skip-main:focus,
a.skip-main:active {
  display: block;
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
  padding: 1.5rem;
  text-align: center;
}

a {
  background: none;
}

/*
  Navs
*/
header nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  text-align: center;

  margin: 1em 1em;
  padding-bottom: 2em;
}

@media only screen and (min-width: 700px) {
  header nav {
    border: 0 none;
  }
}

header a {
  padding: 0 1em;
  margin: 0;
  text-transform: lowercase;
  text-decoration: none;
  color: var(--nav-link-colour);
}

header a:hover {
  text-decoration: underline;
}

header a.active {
  color: var(--nav-active-link-colour);
  font-weight: bold;
}
