@import "../../global/variables.css";

:host {
  --border-color: var(--primary-grey);
}

.container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 0 auto;

  border-top: 1px solid var(--border-color);
}

@media only screen and (min-width: 700px) {
  .container {
    flex-direction: row;
    align-items: center;
  }
}

.heading {
  flex: 1 100%;
}

@media only screen and (min-width: 700px) {
  .heading {
    display: flex;
    align-items: center;
    flex: 1;

    border-right: 1px solid var(--border-color);
  }
}

.heading h3 {
  background-color: var(--secondary-pink);
  /* margin: 1.5em 1.5em 0 1.5em; */
  padding: 1.5em 2em;
}

@media only screen and (min-width: 700px) {
  .heading h3 {
    margin: 1.5em;
  }
}

.container .next {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(220,198,187)' viewBox='0 0 512 512'%3E%3Cpath d='M158.53,473c-4.45,0-8.9-1.11-12.23-4.45a16.12,16.12,0,0,1,0-23.35L334.23,257.25,146.3,69.33A16.51,16.51,0,0,1,169.65,46l199,199a16.12,16.12,0,0,1,0,23.35l-199,200.15A14.28,14.28,0,0,1,158.53,473Z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0 none;
  background-size: 4em 4em;
  height: 4em;
  width: 4em;
  padding: 2em;
  margin: 0;
}

/*
  Slides
*/
.slides {
  flex: 2;

  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 700px) {
  .slides {
    flex: 2 50%;

    margin: 1.5em;
  }
}

.slides li {
  list-style: none;
  text-align: left;
}

/*
  Nav
*/
.nav {
  display: flex;
  justify-content: center;
  margin: 0.5em;
}

.nav li {
  list-style: none;
  margin-right: 0.5em;
}

.nav li:last-child {
  margin-right: 0;
}

.nav button {
  background-color: #fff;
  border: 0 none;
  font-weight: normal;
}

.nav .active button {
  background-color: var(--secondary-pink);
}
