@import "../../global/variables.css";

:host {
  --button-colour: var(--primary-black);
  --active-button-background: transparent;
  --active-button-colour: var(--primary-orange);

  --heading-background-colour: var(--secondary-pink);
  --heading-font-size: var(--default-font-size);
  --heading-font-weight: normal;
  --heading-colour: var(--primary-black);
  --heading-padding: 30px 30px;
  --heading-text-transform: uppercase;
}

@media (prefers-color-scheme: dark) {
  :host {
    --button-colour: var(--primary-white);
    --active-button-colour: var(--primary-orange);

    --heading-background-colour: transparent;
    --heading-font-size: 1.1em;
    --heading-font-weight: bold;
    --heading-colour: var(--primary-orange);
    --heading-padding: 1em 1em;
    --heading-text-transform: uppercase;
  }
}

.container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 0 auto;

  border-top: 1px solid var(--border-color);
}

@media only screen and (min-width: 700px) {
  .container {
    flex-direction: row;
    align-items: center;
  }
}

.heading {
  flex: 1 100%;
}

@media only screen and (min-width: 700px) {
  .heading {
    display: flex;
    align-items: center;
    flex: 1;

    border-right: 1px solid var(--border-color);
  }
}

.heading h3 {
  background-color: var(--heading-background-colour);
  padding: var(--heading-padding);
  text-transform: var(--heading-text-transform);
  font-size: var(--heading-font-size);
  font-weight: var(--heading-font-weight);
  color: var(--heading-colour);
}

@media only screen and (min-width: 700px) {
  .heading h3 {
    margin: 15px;
  }
}

.container .next {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' fill='%23fff' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M4 .755l14.374 11.245-14.374 11.219.619.781 15.381-12-15.391-12-.609.755z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0 none;
  background-size: 4em 4em;
  height: 4em;
  width: 4em;
  padding: 2em;
  margin: 0;
}

@media (prefers-color-scheme: light) {
  .container .next {
    filter: brightness(0.3);
  }
}

/*
  Slides
*/
.slides {
  flex: 2;

  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 700px) {
  .slides {
    flex: 2 50%;

    margin: 1.5em;
  }
}

.slides li {
  list-style: none;
  text-align: left;
}

/*
  Nav
*/
.nav {
  display: flex;
  justify-content: center;
  margin: 0.5em;
}

.nav li {
  list-style: none;
  margin-right: 0.5em;
}

.nav li:last-child {
  margin-right: 0;
}

.nav button {
  background-color: transparent;
  border: 0 none;
  font-weight: normal;
  color: var(--button-colour);
}

.nav .active button {
  background-color: var(--active-button-background);
  color: var(--active-button-colour);
  font-weight: bold;
}
