@import "../../global/variables.css";

:host {
  --border-color: var(--primary-grey);
}

.container {
  display: flex;
  max-width: 900px;
  margin: 0 auto;

  border-top: 1px solid var(--border-color);
}

.heading {
  display: flex;
  align-items: center;

  border-right: 1px solid var(--border-color);
}

.heading h3 {
  background-color: var(--secondary-pink);
  margin: 1.5em;
  padding: 1.5em 2em;
}

.container .next {
  margin: 1.5em;
}

ul {
  margin: 1.5em;
  padding: 0;
}

.slides li {
  list-style: none;
  text-align: left;
}

/*
  Nav
*/
.nav {
  display: flex;
  justify-content: center;
  margin: 0.5em;
}

.nav li {
  list-style: none;
  margin-right: 0.5em;
}

.nav li:last-child {
  margin-right: 0;
}

.nav button {
  background-color: #fff;
  border: 0 none;
  font-weight: normal;
}

.nav .active button {
  background-color: var(--secondary-pink);
}
