@import "../../global/variables.css";

.articles {
  margin-top: 80px;
  padding: 0 0.5em;
}

article {
  margin: 50px 0;
}

article:first-child {
  margin-top: 0;
}

article:last-child {
  margin-bottom: 0;
}
